{% extends "base.html" %}

{% block content %}

<br><br>
<h1 class="text-capitalise text-center mx-10 bg-dark text-white">Register A New Customer</h1>
<form method="post">
    {% csrf_token %}  <!--pour eviter les injection de code-->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input name="name"  required type="text" class="form-control" id="name" placeholder="customer first and last name">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input name="email" required type="email" class="form-control" id="email" placeholder="customer email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="phone">Phone</label>
            <input name="phone" required requiredtype="number" class="form-control" id="phone" placeholder="customer phone number">
        </div>
        <div class="form-group col-md-6">
            <label for="address">Address</label>
            <input name="address" required type="text" class="form-control" id="address" placeholder="customer address">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="sex">Sex</label>
            <select name="sex" class="form-control" required id="sex">
                <option>Choose the gender...</option>
                <option value="M">Male</option>
                <option value="F">Feminine</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="age">Age</label>
            <select name="age" class="form-control" required id="age">
                <option>Choose the age range...</option>
                <option value="0-15">0-15</option>
                <option value="15-25">15-25</option>
                <option value="24-35">24-35</option>
                <option value="35-45">35-45</option>
                <option value="45-55">45-55</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="city">City</label>
            <input name="city" required type="text" class="form-control" id="city" placeholder="customer city">
        </div>
        <div class="form-group col-md-6">
            <label for="zip_code">Zip code</label>
            <input name="zip_code" required type="text" class="form-control" id="zip_code" placeholder="customer zip_code">
        </div>
    </div>
    <button type="submit" class="btn btn-primary m-3">Save</button>

</form>

{% endblock %}